/* Universal Settings */

/* Template Variables */
:root {
    --about-me: #7395ae;
    --wrk: #88BDBC;
    --wrkop1: #85DCB;
    --contact-opt:#D1E8E2;
    --contact-me:#FFCCBC;
    --surfer:#EDC7B7;
    --resume: #5D5C61;
    --work: #B1A296;
    --header1: #557A95;
    --light:#EEE2DC;
    --light2:#FBEEC1;
    --header: #123C69;
    --header2: black;
    --contact: #AC3B61;  
}

html, body {
    background-color:var(--background);
    /* Add scroll effect */
    scroll-behavior: smooth;
}
/* Header general settings */
header {
    background-color: var(--header2);
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 0;
    color: var(--light);
    text-align: right;
}

/* Banner for Header */
.banner {
    width: 100%;
    display:block;
}

.banner > .banner-image {
    width: 100%;
    display:block;
    float: unset;

}

/* Picture */
figure h1 {
    height: 10rem;
    font-size: 2rem;
    font-style: var(--background);
    color: var(--light);
    text-align: right;
    width:100%;
    display:block;
}

/* Picture area */
.profile-picture {
    background-color: var(--header);

}

/* Picture attributes*/
img {
    display: absolute;
    position: absolute;
    top: 15%;
    float: left;
    /*scroll-margin-left: 1rem;*/
    margin-left: 0.5rem;
    /* border: solid 5px var(--about-me); */
    border-radius: 20px;
    padding: 5px;
    background-color: var(--about-me);  
}

/* Color background for the Nav tabs */
.tab-about {
    background-color: var(--about-me);
}

.tab-work {
    background-color: var(--work);
}

.tab-resume {
    background-color: var(--resume);
}

.tab-contact {
    background-color: var(--contact);
}

nav ul {
    /* To make the nav bar static even if scrolling occurs - see if it works, otherwise remove */
    position: sticky; 
    top: 0;
}

nav ul li{
    display: inline-block;
    padding: 0.4em;
    border-radius: 10px;
    width: 10pc;
    align-content: center;
    text-align: center;
}

/* Remove underline text from links */
a:link {
    text-decoration: none;
    color: var(--work)
}

a:visited {
    color: var(--light);
    text-decoration: none;
    border-color: var(--header);
}

body {
    font-size: 1.1rem;
}

h2 {
    margin; auto;
    font-size: 1.2em;
    align-content: left;
}

main figure {
    background-color: var(--light);
    opacity: 0.5;
    border: #B1A296;
    border-radius: 25px;
    color: var(--header);
    padding: 3em;
    display: flex;
}

.about-me {
    /* Adding scroll stop at start of element */
    scroll-snap-align: start;
    background-color: var(--about-me);
    color: var(--light);
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 10px;
} 

.work {
    /* Adding scroll stop at start of element */
    scroll-snap-align: start;
    background-color: var(--work);
    color: var(--light);
    display:flex;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 4fr ;
    justify-content: center;
    align-content: center;
}

/* ---- FIX THIS ---- */
/*.work-boxes figure, */.work-html, .work-css, .work-js{
    width: 200px;
    height: 200px;
    flex: 2 1 50px;
    display: inline-flex;
    justify-content: center;
}    

/* On hover sections grow */
.work-html:active {
    tranform: scale (1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);;
}

/* On hover sections grow */
.work-css:active {
    tranform: scale (1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);;
}

/* On hover sections grow */
.work-js:active {
    tranform: scale (1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);;
}


.resume{
    scroll-snap-align: start;
    background-color: var(--resume);
    color: var(--light);
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 100px auto auto;
    padding: 10px;
}

footer {
    background-color: var(--contact); 
    color: var(--light)  ;
}

footer section h2 {
    margin; auto;
    font-size: 1.2em;
    text-align: left;
}

.contact-me {
    display:flex;
    scroll-snap-align: start;
    color: var(--light);
    display: grid;
    padding: 10px;

}

.contact-information li {
    display: inline-block;
    width: 5pc;
    align-content: right;
    margin-left: 6em;
}


/* Media Queries for Devices */

/* Desktop */


/* Tablets */


/* Mobile */