/* Universal Settings */

/* Template Variables */
:root {
    --aboutme: #7395ae;
    --wrk: #88BDBC;
    --contact-opt:#D1E8E2;
    --resume: #5D5C61;
    --work: #B1A296;
    --header1: #557A95;
    --light:#EEE2DC;
    --light2:#FBEEC1;
    --header: #093565;
    --base: black;
    --contact: #AC3B61;
    --cntme:#080F5B;
    --about-me: #116466;
    --abm: #1C3334; 
    --title-fonts: "Aktiv Grotesk","Segoe UI"; 
    --other-fonts:'Source Sans Pro ExtraLight','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --article-fonts:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body {
    /* Add scroll effect */
    scroll-behavior: smooth;
}

/* Banner for Header */
.banner {
    background-image: url(../images/matrix.jpg);
    background-size:cover;
    background-position:center;
    color: transparent;
    width: 100%;
    display:block;
}
/* Header general settings */
header {
    background-color: var(--base);
    width: 100%;
    height: 15rem;
    margin: 0 auto;
    padding: 0;
    color: var(--light);
    text-align: right;
}

/* Name */
h1 {
    width:100%;
    height: 10rem;
    font-family: var(--other-fonts);
    font-size: 3rem;
    font-style: var(--background);
    color: var(--light);
    justify-content: right;
    display:block;
}

/* Profile picture area */
.profile-picture {
    display: block;
    position: absolute;
    top: 5%;
    left: 2%;
    margin-left: 0.5rem;
    border-radius: 20px;
    padding: 5px;
    height: 150px;
    width: 150px;
}

/* Color background for the Nav tabs */
.tab-about {
    background-color: var(--abm);
}

.tab-work {
    background-color: var(--work);
}

.tab-resume {
    background-color: var(--resume);
}

.tab-contact {
    background-color: var(--base);
}

/* Navigation Bar */

nav ul {
    /* To make the nav bar static even if scrolling occurs - see if it works, otherwise remove */
    position: sticky; 
    top: 0;
}

nav ul li{
    display: inline-block;
    padding: 0.4em;
    border-radius: 10px;
    width: 10pc;
    align-content: center;
    text-align: center;
}

/* To remove underline text from links */
a:link {
    text-decoration: none;
    color: var(--contact-opt)
}

/* Visited links */
a:visited {
    color: var(--light);
    text-decoration: none;
}

body {
    font-size: 1.2rem;
}

/* All Sections */

h2 {
    text-align: left;
    font-size: 1.6rem;
    align-content: left;
    font-family: var(--article-fonts)
}

article {
    background-color: var(--light);
    opacity: 0.4;
    border-radius: 25px;
    padding: 2em;
    margin: 1em;
}

/* About Me Section */

.about-me {
    /* Adding scroll stop at the start of the section  */
    scroll-snap-align: start;
    display: flex;
    background-color: var(--abm);
}

.subtitle-about-me {
    background-color: var(--abm);
    margin: 1em;
    width: 25%;
    color: var(--light)
} 

/* About me and Resume sections */
.article-content{
    width: 75%;
    display: flex;
    flex-direction: column; /* see if this is actually a row */
}

.article-content p {
   margin: 5px;
   height: 30vh;
   width: 100%;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color:var(--abm);
   overflow: auto;
   background-color: var(--light);
}  

/* Work Section */
.work {
    /* Adding scroll stop at start of element */
    scroll-snap-align: start;
    background-color: var(--work);
    display: flex;
   /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
}

.subtitle-work {
    background-color: var(--work);
    margin: 1em;
    width: 25%;
    color: var(--light)
} 

main img {
    background-color: var(--light);
    opacity: 1;
    border: #B1A296;
    border-radius: 25px;
    color: var(--header);
    padding: 0em;
    display: flex;
    flex-wrap: wrap;
}

.p-work {
    position: relative;
    left: 2em;
    top: 2em;
    text-align: center;
    color: var(--light);
    text-transform: uppercase;
    text-shadow: 2px 2px;
    font-weight: bold;
    align-content: flex-start;
    justify-content: center;
    width: 10px;
    height: 10px;
}

/* Work Subtitle section */
.work {
    /* Adding scroll stop at the start of the section  */
    scroll-snap-align: start;
    display: flex;
    background-color: var(--work);
}

.subtitle-work {
    background-color: var(--work);
    margin: 1em;
    width: 25%;
    color: var(--light)
} 

/* Top box in Work image container */
.work-content {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.work-box-top img {
    height: 75vh;
    width: 98%;
    object-fit: cover;
}

/* Bottom box in Work image container */
.work-box-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.work-box-bottom img {
    margin: 5px;
    flex-direction: row;
    height: 25vh;
    width: 55%;
}

/* On click sections grow */
.work-html:active {
    transform: scale (1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);;
}

/* On click sections grow */
.work-css:active {
    transform: scale (1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);;
}

/* On click sections grow */
.work-js:active {
    transform: scale (1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);;
}

/* Resume Section */
.resume {
    /* Adding scroll stop at the start of the section  */
    scroll-snap-align: start;
    display: flex;
    background-color: var(--resume);
}

.subtitle-resume {
    background-color: var(--resume);
    margin: 1em;
    width: 25%;
    color: var(--light)
} 

pre code {
    font-family: var(--article-fonts);
}

/* Footer Section */
footer {
    background-color: var(--base); 
    color: var(--light);
    margin-bottom: 0;
}

footer section {
    margin: auto;
    font-size: 1.2em;
    text-align: left;
    padding: 1em;
}

footer p {
    text-align: right;
    margin-right: 1.5em;
}
.contact-me {
    scroll-snap-align: start;
    display:grid;
    grid-template-columns: 1fr 3fr;
    color: var(--light);
    padding: 10px;
    flex:content;
}

.contact-information li {
    display: inline-block;
    width: 5pc;
    align-content: right;
    margin-left: 6em;
}


/* Media Queries for Devices */
/* Use flex-direction to stack the navbar, sidebar, and body */
@media screen and (max-width: 768px) {
    main, nav, article {
    flex-direction: column;
    margin: 0;
    }
    h1 {
        height: 80%;
        width: 80%;
        align-items: right;
    }
  }

